<!DOCTYPE html>
<html ng-app ="AppTabla">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css" integrity="sha384-PmY9l28YgO4JwMKbTvgaS7XNZJ30MK9FAZjjzXtlqyZCqBY6X6bXIkM++IkyinN+" crossorigin="anonymous">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Simular</title>
</head>
<body>

<div class="container" ng-controller="ctrlTabla">
    
        <div class = "container-fluid" ng-controller="ctrlTabla">
                <nav class="navbar navbar-inverse">
                    <div class="container-fluid">
                        <div class="navbar-header">
                        <a class="navbar-brand" href="Portada.html">Inicio</a>
                        </div>
                        <div class="collapse navbar-collapse" id="myNavbar">
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="registro.html"><span class="glyphicon glyphicon-user"></span> Registrate</a></li>
                            <li><a href="login.html"><span class="glyphicon glyphicon-log-in"></span> Log in</a></li>
                        </ul>
                        </div>
                    </div>
                </nav>
            <!--FORMULARIO DATOS PARA SOLICITAR CREDITO-->

<form>
            <!--MONTO A SOLICITAR-->
    <div class="form-group" ng-show="Mostrar">
        <label>Monto del Credito</label>
            <div class="col-md-3">
            <select  class="change form-control" tabindex="1" type="number" class="form-control" placeholder="Monto Solicitado"  ng-model="montoSolicitado" required="required" maxlength="10">
                <option value=''>Monto a Solicitar</option>
                <option value="1000000">$1.000.000</option>
                <option value="2000000">$2.000.000</option>
                <option value="3000000">$3.000.000</option>
                <option value="4000000">$4.000.000</option>
                <option value="5000000">$5.000.000</option>
                <option value="6000000">$6.000.000</option>
                <option value="7000000">$7.000.000</option>
                <option value="8000000">$8.000.000</option>
                <option value="9000000">$9.000.000</option>
                <option value="10000000">$10.000.000</option>
            </select>
        </div>   
    </div>
             
                            <!--NUMERO DE CUOTAS-->
    <div class ="form-group" ng-show="Mostrar"> 
        <label>Numero de Cuotas</label>
            <div class ="col-md-3">
            <select class="form-control" placeholder="Numero de Cuotas" ng-model="numeroCuotas" required="required">
                <option value=''>Cantidad de Cuotas</option>
                <option value="12">12 Cuotas</option>
                <option value="24">24 Cuotas</option>
                <option value="36">36 Cuotas</option>
                <option value="48">48 Cuotas</option>
                <option value="60">60 Cuotas</option>
                <option value="72">72 Cuotas</option>
            </select>
        </div>
    </div>

                     <!--TRAE LA INFO DE UN BANCO A ELECCION-->
                            <!--BANCO PERSONALIZADO-->
 
                            <div class ="form-group" ng-show="Mostrar">   
        <label >Simular un banco</label>
        <div class="col-md-3">
            <select class="form-control" ng-model ="nombre">
                <option value =''>Elegir Banco</option>
                <option value="Banco Santander">Banco Santander</option>
                <option value="Banco Consorcio">Banco Consorcio</option>
                <option value="Banco de Chile">Banco de Chile</option>
                <option value="Banco Estado">Banco Estado</option>
                <option value="Banco Falabella">Banco Falabella</option>
                <option value="Banco Itaú">Banco Itaú</option>
                <option value="Banco Ripley">Banco Ripley</option>
                <option value="Banco Santander">Banco Santander</option>
                <option value="BCI Nova">BCI Nova</option>
                <option value="Scotiabank">Scotiabank</option>
            </select>
                            
                                 <!--BOTONES-->
                          <!--Simular con 3 bancos-->
          
                    <!--BOTON PARA LLAMAR LOS DATOS-->
            <button class="btn btn-primary " ng-click="llamarDatos()" >Simular</button>
        </div>
    </div>

                        <!--Datos a ingresar en consulta personalizada-->
    <div class="form-group col-md-3" ng-show="Ocultar">
            <label>Ingrese Monto</label>
            <input type="number" placeholder="Ingrese Monto"  ng-model="montoSolicitado" required="required">
        
            <label>Ingrese Cuotas</label>
            <input type="number" placeholder="Ingrese Cuotas"  ng-model="numeroCuotas" required="required">
        </div>
       
</form>


                                

                            <!--INFO DEL CREDITO PERSONALIZADO-->
        <div ng-show="mostrarInformacionPersonalizada">
            <p>Su credito solicitado por un monto de: ${{montoSolicitado}}</p>
            <p>En la institucion: {{nombreBanco}}</p>
            <p>Tiene un costo total de: ${{costoTotal}}</p>
            <p>Cada cuota cuesta: ${{cuotaMensual}}</p>
            <p>Con un interes del {{tasaInteres}}% mensual</p>
            <p>Al terminar de pagar, usted habra pagado un total de ${{totalIntereses}} en intereses, ademas de ${{gastosAsociados}} en gastos asociados.</p>
        </div>



                                 <!--TABLA-->
        
    <div class="panel-body">
        <p><strong>* Las comparaciones realizadas a través de esta aplicación, no constituyen ni suponen la obligación de las empresas respecto de otorgar el crédito que usted consulta.</strong></p>
    </div>
    
                               <!--CABECERA-->
    <table ng-show = "mostrarTabla" class="table table-striped table-hover">
            <thead>
                    <th>Num</th>
                    <th>Institución</th>
                    <th>Valor Cuota</th>
                    <th>CAE</th>
                    <th>Tasa de interes mensual</th>
                    <th>Gastos asociados</th>
                    <th>Seguro desgravamen</th>
                    <th>Total intereses</th>
                    <th>Monto bruto crédito</th>
                    <th>Costo total</th>
            </thead>
            
                             <!-- Primera fila-->
        <tbody >
            <tr ng-repeat="banco in bancos | orderBy:'costoTotal'" ng-class="{info:$index==0,danger:$index==9 }">
                <!-- Num-->
                <td>{{$index+1}}</td>

                <!--Institucion-->
                <td>{{banco.idNombre}}</td>

                <!--Valor Cuota-->
                <td>{{banco.cuota | currency:'$':0}}</td>

                <!--CAE-->
                <td>{{banco.cae}}%</td>

                <!--Tasa de interes mensual-->
                <td>{{banco.tasaInteresMensual}}%</td>

                <!--Gastos asociados-->
                <td>{{banco.gastosAsociados | currency:'$':0}}</td>

                <!--Seguro desgravamen-->
                <td>$0</td>

                <!--Total intereses-->
                <td>{{banco.totalIntereses | currency:'$':0}}</td>

                <!--Monto bruto crédito-->
                <td>{{banco.montoBrutoCredito | currency:'$':0}}</td>

                <!--Costo total-->
                <td>{{banco.costoTotal | currency:'$':0 }}</td>
            </tr>                       
        </tbody>
    </table>


</div>
</div>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script> 
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js" integrity="sha384-vhJnz1OVIdLktyixHY4Uk3OHEwdQqPppqYR8+5mjsauETgLOcEynD9oPHhhz18Nw" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.5/angular.min.js"></script>
    <script src ="../js/AppTabla3.js" type="text/javascript"></script>
</body>
</html>