<!DOCTYPE html>
<html ng-app = "AppUsuario">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Configuraciones</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css" integrity="sha384-PmY9l28YgO4JwMKbTvgaS7XNZJ30MK9FAZjjzXtlqyZCqBY6X6bXIkM++IkyinN+" crossorigin="anonymous">

</head>
<body>
    
<div ng-controller="ctrlUsuario" align="center">

        <div class = "container-fluid">
                <nav class="navbar navbar-inverse">
                    <div class="container-fluid">
                        <div class="navbar-header">
                        <a class="navbar-brand"> Configuracion</a>
                        </div>
                        <div class="collapse navbar-collapse" id="myNavbar">
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="pestañaMuestraEjecutivos.html"><span class="glyphicon glyphicon-sunglasses"></span> Ejecutivos</a></li>
                            <li><a href="paginaTablaRegistrado.html"><span class="glyphicon glyphicon-euro"></span> Simular</a></li>
                            <li ng-click="logOut()"><a href="Portada.html"><span class="glyphicon glyphicon-log-out"></span> Log out</a></li>
                        </ul>
                        </div>
                    </div>
                </nav>
            </div>
                             <!--EDITAR USUARIO-->
          <h1>Editar datos</h1>
                            <!--RUT-->
         
        <div class="input-group col-xs-4">
           
            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
            <input type="text" class="form-control" placeholder="11.111.111-1  **OBLIGATORIO**"  ng-model="rut" required="required" ng-pattern = "/^[0-9]{1,2}.[0-9]{3}.[0-9]{3}-[0-9Kk]{1}$/" required/>                
        </div>
            
                       <!--PASSWORD-->

        <div class="input-group col-xs-4">
            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
            <input type="password" class="form-control" placeholder="Password Actual **OBLIGATORIO**"  ng-model="password" required/>
        </div>
                        <!--NUEVA PASSWORD-->
        <div class="input-group col-xs-4">
            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
            <input type="password" class="form-control" placeholder="Nueva Password  **OPCIONAL**"   ng-model="nuevaPassword">
        </div>
        
                         <!--CORREO-->
        
        <div class="input-group col-xs-4">
            <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
            <input type="text" class="form-control" placeholder="Email **OPCIONAL**"  ng-model="correo">
        </div>
         
        <button id="submit_btn" class="btn btn-primary" ng-click="actualizarDatos()" >Actualizar</button> 
        <div class="col-md-10 col-xs-offset-4" style="padding:20px;">
            
            <div class="bg-warning col-xs-4"  ng-show="mostrarMensaje">
                {{mensaje}}
            </div>
        </div>

    </div>



        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script> 
<script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js" integrity="sha384-vhJnz1OVIdLktyixHY4Uk3OHEwdQqPppqYR8+5mjsauETgLOcEynD9oPHhhz18Nw" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.5/angular.min.js"></script>
<script src="../js/AppUsuario.js" type = text/javascript></script>
</div>

</body>
</html>